<%- include ./../layout/header.ejs -%>
<% include ./../layout/partials/fake-loader-section.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper custom-bg">
  <!-- Content Header (Page header) -->
  <%- include ./../layout/partials/page-header-section.ejs -%>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  <!-- Main content -->
  <form action="<%= typeof responseData==='object' && responseData.id ? '/admin/advertisements/update':'/admin/advertisements' %>"
    id="forumsForm" method="POST" enctype="multipart/form-data">
    <div class="form-group button-row">
      <button type="submit" class="btn btn-success custom-save-btn custom-save-common custom-top save-user">Save</button>
      <a href="/admin/advertisements" class="btn btn-primary ml-10 custom-cancel-btn backButton" data-toggle="modal" data-target="#deleteConfirmModal"></a>
      <h1 class="custom-add-heading"><%= typeof responseData === 'object' ? 'Edit' : 'Create' %> Advertisement</h1>
      <!-- <h1 class="custom-add-heading-details" id="form-details-icon">How to fill in this form <i class="fa fa-question-circle"></i></h1> -->
      <small class="custom-add-text">API ID : advertisement</small>
    </div>
    <section class="content">

    <!-- Default box -->
    <div class="box custom-box">
      <!-- <div class="box-header with-border">
      </div> -->
      <div class="box-body">
        <%- include ./../layout/partials/alert-section.ejs -%>

          <div class="form-group row">
            <div class="col-sm-6">
              <label for="advertisementImage" class="">Banner Image</label>
              <div class="position-relative">
                <div class="choose-profile-fanpage">
                <input type="hidden" name="id" id="id" value="<%= typeof responseData==='object'&&responseData.id?responseData.id:'' %>">
                <input type="file" id="advertisementImage" name="advertisementImage" accept="image/png, image/jpeg">
                </div>
                <div class="d-none profile_img">
                  <img
                    src="<%= typeof responseData==='object' && typeof responseData.banner==='object' && responseData.banner && responseData.banner.UploadFile && responseData.banner.UploadFile.url ? responseData.banner.UploadFile.url: '/images/vet-practice-edit.png' %>"
                    alt="Vet Practice" height="200" width="100%" id="advertisement-img">
                </div>
              </div>
            </div>
            <% if(typeof userData === 'object' && (userData.roleName === userData.thirdPartyCompanyRoleName || userData.roleName === userData.practiceAdminName)){ %>
            <div class="col-sm-6 invisible">
              <label for="userId" class="">Service Provider</label>
              <select class="form-control type-select-box" id="userId" name="user_id" 
                value="<%= typeof responseData==='object'?responseData.name:'' %>" <%= typeof responseData==='object' && responseData.id ? 'disabled':'' %>>
                <option <%=typeof responseData!=='object' ? 'selected' : '' %> disabled>Choose here</option>
                  <option selected>
                    <%= typeof userData === 'object' && userData.id ? userData.id : "" %>
                  </option>
              </select>
            </div>
            <% } else { %>
              <div class="col-sm-6">
                <label for="userId" class="">Service Provider</label>
                <select class="form-control type-select-box" id="userId" name="user_id" 
                  value="<%= typeof responseData==='object'?responseData.name:'' %>" <%= typeof responseData==='object' && responseData.id ? 'disabled':'' %>>
                  <option <%=typeof responseData!=='object' ? 'selected' : '' %> disabled>Choose here</option>
                  <% for (var i=0; i < users.length; i++ ) { %>
                    <option <%=typeof responseData==='object' ?users[i].id===responseData.user_id ? 'selected' : ''
                      : '' %>
                      value="<%= users[i].id %>">
                        <%= users[i].first_name %> <%= users[i].last_name %>
                    </option>
                    <% } %>
                </select>
              </div>
              <% } %>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="title" class="">Advertisement Title</label>
              <input type="hidden" name="subscription_history" id="subscription_history" value="<%= typeof subscriptionQuery=='number' && subscriptionQuery ? subscriptionQuery : '' %>">
              <input type="text" name="title" id="title" class="form-control" placeholder="Advertisement Title"
              value="<%= typeof responseData==='object'?responseData.title:'' %>">
            </div>
        </div>
          
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="text" class="">Advertisement Text</label>
              <input type="text" name="text" id="text" class="form-control" placeholder="Advertisement Text"
              value="<%= typeof responseData==='object'?responseData.text:'' %>">
            </div>
          </div>


        <div class="form-group row">
          <div class="col-sm-12">
            <label for="website" class="">Website</label>
            <input type="text" name="website" id="website" class="form-control" placeholder="Website"
            value="<%= typeof responseData==='object'?responseData.website:'' %>">
          </div>
        </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <label for="country" class="">Country</label>
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Country - Where Advertisement is shows to users."></i>
            <select class="form-control type-select-box" id="country" name="country">
              <option <%=(typeof responseData!=='object' || !responseData.country)? 'selected' : '' %>
                value="" disabled>Add an item..</option>
              <% for (var i=0; i < countryData.length; i++ ) { %>
                <option <%=typeof responseData==='object' ?countryData[i].id===responseData.country ? 'selected'
                  : '' : '' %>
                  value="<%= countryData[i].id %>" id="<%= countryData[i].id %>">
                    <%= countryData[i].country %>
                </option>
                <% } %>
            </select>
        </div>
        <div class="col-sm-6">
          <label for="stateId" class="">State</label>
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="State - Where Advertisement is shows to users."></i>
          <select class="form-control state-multiple" name="state[]" id="state"
            value="<%= typeof responseData==='object'?responseData.name:'' %>" multiple="multiple">
            <% if(typeof states==='object' ) { for (var i=0; i < states.length; i++ ) { %>
              <option <%=typeof responseData==='object' && responseData.stateData &&
                responseData.stateData.includes(states[i].id) ? 'selected' : ''
                %>
                value="<%= states[i].id %>">
                  <%= states[i].state %>
              </option>
              <% } } %>
          </select>
        </div>
      </div>
      </div>

    </section>
      
  </form>
  <br/><br/><br/><br/>

</div>
<%- include ./../layout/footer.ejs -%>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="module" src="/js/advertisement.js"></script>
    <script src="/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="/plugins/datatables//dataTables.buttons.min.js"></script>
    <script>
      $(".sidebar-menu li").removeClass("active");
      $(".menu__advertisements").addClass("active");
      $("#state").select2({
        tokenSeparators: ['#'],
        placeholder: "Select states",
        maximumSelectionLength: 3,
      });
      $("#country").change(function (event) {
        var selectedCountry = $('#country option:selected').attr('id');
        var selectedCountryVal = $('#country').val();
        var states = '<%= typeof responseData =="object" && responseData.stateData ? responseData.stateData : [] %>';
        states = states.split(',').map(Number);
        $("#state").html('');
        $.ajax({
          url: "/admin/advertisement",
          type: "get",
          data: {
            country: selectedCountry,
          },
          success: function (data) {
            var len = data.length;
            // $("#state").append("<option <%= typeof responseData!=='object'? 'selected' : ''%>>Add an item..</option>")
            for (var i = 0; i < len; i++) {
              var value1 = data[i]['state'];
              var value2 = data[i]['id'];
              var selected = states.includes(value2) ? "selected" : "";
              $("#state").append("<option value='" + value2 + "' id='" + value2 + "' >" + value1 + "</option>");
            }
            $("#state").select2('destroy').val("").select2();
            $("#state").select2({ placeholder: "Select states", maximumSelectionLength: 3 });
          },
        });
        event.preventDefault();
      });
      function getSelectedStates() {
        var selectedCountry = $('#country option:selected').attr('id');
        var selectedCountryVal = $('#country').val();
        var states = '<%= typeof responseData =="object" && responseData.stateData ? responseData.stateData : [] %>';
        states = states.split(',').map(Number);
        $("#state").html('');
        if (selectedCountry) {
          $.ajax({
            url: "/admin/advertisement",
            type: "get",
            data: {
              country: selectedCountry,
            },
            success: function (data) {
              var len = data.length;
              // $("#state").append("<option <%= typeof responseData!=='object'? 'selected' : ''%>>Add an item..</option>")
              for (var i = 0; i < len; i++) {
                var value1 = data[i]['state'];
                var value2 = data[i]['id'];
                var selected = states.includes(value2) ? "selected" : "";
                // console.log(states.includes(value2.toString()), states, value2.toString())
                $("#state").append("<option value='" + value2 + "' id='" + value2 + "' "+ selected +">" + value1 + "</option>");
              }
            },
          });
        }
      }
      getSelectedStates();
    </script>

</body>

</html>