<%- include ./../layout/header.ejs -%>
<% include ./../layout/partials/fake-loader-section.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper custom-bg">
  <!-- Content Header (Page header) -->

  <!-- Main content -->
  <form action="<%= typeof responseData==='object'?'/admin/report-reasons/update':'/admin/report-reasons' %>" id="reportReasonForm"
    method="POST">
    <div class="form-group button-row">
      <a href="/admin/report-reasons" class="btn btn-primary ml-10 custom-cancel-btn backButton" data-toggle="modal" data-target="#deleteConfirmModal"></a>
      <button type="submit" class="btn btn-success custom-save-btn custom-top-user">Save</button>
      <h1 class="custom-add-heading"><%= typeof responseData === 'object' ? 'Edit' : 'Create' %> Report Reason</h1>
      <small class="custom-add-text">API ID : Report Reasons</small>
    </div>

    <section class="content">
      <!-- Default box -->
      <div class="box custom-box">
        <!-- <div class="box-header with-border">
        </div> -->
        <div class="box-body">
            <%- include ./../layout/partials/alert-section.ejs -%>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="reason" class="">Reason Name * </label>
                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Reason name of the report (reason)"></i>
                <input type="hidden" name="id" id="id" value="<%= typeof responseData ==='object' ? responseData.id : '' %>">
                <input type="text" name="reason" id="reason" class="form-control" placeholder="Report Reason"
                  value="<%= typeof responseData === 'object' ? responseData.reason : '' %>">
              </div>
            </div>
        </div>
      </div>
      <!-- /.box -->
    </section>
  </form>
  <!-- /.content -->
</div>
<%- include ./../layout/footer.ejs -%>
<script type="module" src="/js/report-reason.js"></script>
</body>
<script>
  $(".sidebar-menu li").removeClass("active");
  $(".menu__posts").addClass("active");
  $(".menu__report-reason").addClass("active");
</script>

</html>