<%- include ./../layout/header.ejs -%>
<% include ./../layout/partials/fake-loader-section.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper custom-bg">
  <!-- Content Header (Page header) -->

  <!-- Main content -->
  <form action="<%= typeof responseData==='object'?'/admin/walkers-service/update':'/admin/walker-service' %>" id="walkersServiceForm"
    method="POST">
    <div class="form-group button-row">
      <a href="/admin/walkers-services" class="btn btn-primary ml-10 custom-cancel-btn backButton" data-toggle="modal" data-target="#deleteConfirmModal"></a>
      <button type="submit" class="btn btn-success custom-save-btn custom-top-user">Save</button>
      <h1 class="custom-add-heading"><%= typeof responseData === 'object' ? 'Edit' : 'Create' %> Walker Service</h1>
      <small class="custom-add-text">API ID : walkers-service</small>
    </div>

    <section class="content">
      <!-- Default box -->
      <div class="box custom-box">
        <!-- <div class="box-header with-border">
        </div> -->
        <div class="box-body">
            <%- include ./../layout/partials/alert-section.ejs -%>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="name" class="">Walker Service Name * </label>
                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Name of the walker service (name)"></i>
                <input type="hidden" name="id" id="id" value="<%= typeof responseData==='object'?responseData.id:'' %>">
                <input type="text" name="service" id="service" class="form-control" placeholder="Walker Service Name"
                  value="<%= typeof responseData==='object'?responseData.service:'' %>">
              </div>
            </div>
        </div>
      </div>
      <!-- /.box -->
    </section>
  </form>
  <!-- /.content -->
</div>
<%- include ./../layout/footer.ejs -%>
<script type="module" src="/js/walker-service.js"></script>
</body>
<script>
  $(".sidebar-menu li").removeClass("active");
  $(".menu__master_modules").addClass("active");
  $(".menu__walkers_services").addClass("active");
</script>

</html>