<%- include ./../layout/header.ejs -%>
<% include ./../layout/partials/fake-loader-section.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper custom-bg">
  <!-- Content Header (Page header) -->
  <%- include ./../layout/partials/page-header-section.ejs -%>

  <!-- Main content -->
  <form action="<%= typeof responseData==='object'?'/admin/settings/update':'/admin/settings' %>" id="settingForm"
    method="POST">
    <div class="form-group button-row">
      <button type="submit" class="btn btn-success custom-save-btn custom-top">Save</button>
      <a href="/admin/settings" class="btn btn-primary ml-10 custom-cancel-btn backButton" data-toggle="modal" data-target="#deleteConfirmModal"></a>
      <h1 class="custom-add-heading"><%= typeof responseData === 'object' ? 'Edit' : 'Create' %> Settings</h1>
      <small class="custom-add-text">API ID : settings</small>
    </div>
    <section class="content">

      <!-- Default box -->
      <div class="box custom-box">
        <div class="box-body">

          <%- include ./../layout/partials/alert-section.ejs -%>

            <div class="form-group row">
              <div class="col-sm-6">
                <label for="current_version" class="">Current Version * </label>
                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Current version of the application (current_version)"></i>
                  <input type="hidden" name="id" id="id" value="<%= typeof responseData==='object'?responseData.id:'' %>">
                  <input type="text" name="current_version" id="current_version" class="form-control" placeholder="Current Version"
                    value="<%= typeof responseData==='object'?responseData.current_version:'' %>">
              </div>
              <div class="col-sm-6">
                <label for="minimum_version" class="">Minimum Version * </label>
                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Minimum version of the application (minimum_version)"></i>
                  <input type="text" name="minimum_version" id="minimum_version" class="form-control" placeholder="Minimum Version"
                    value="<%= typeof responseData==='object'?responseData.minimum_version:'' %>">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="base_url" class="">Base URL * </label>
                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Base URL of the application (base_url)"></i>
                  <input type="text" name="base_url" id="base_url" class="form-control" placeholder="Base URL"
                    value="<%= typeof responseData==='object'?responseData.base_url:'' %>">
              </div>
              <div class="col-sm-6">
                <label for="platform_type" class="">Platform Type </label>
                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Platform type of the application (platform_type)"></i>
                  <input type="text" name="platform_type" id="platform_type" class="form-control" placeholder="Platform Type" readonly
                    value="<%= typeof responseData==='object'?responseData.platform_type:'' %>">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="app_name" class="">App Name </label>
                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Name of the application (app_name)"></i>
                  <input type="text" name="app_name" id="app_name" class="form-control" placeholder="App Name" readonly
                    value="<%= typeof responseData==='object'?responseData.app_name:'' %>">
              </div>
            </div>
        </div>
      </div>
    </section>
  </form>
</div>
<%- include ./../layout/footer.ejs -%>
<script type="module" src="/js/setting.js"></script>
</body>
<script>
  $(".sidebar-menu li").removeClass("active");
  $(".menu__master_modules").addClass("active");
  $(".menu__settings").addClass("active");
</script>

</html>