<%- include ./../layout/header.ejs -%>
<% include ./../layout/partials/fake-loader-section.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper custom-bg">
  <!-- Content Header (Page header) -->
  <%- include ./../layout/partials/page-header-section.ejs -%>

  <!-- Main content -->
  <form action="<%= typeof responseData==='object'?'/admin/animalCategories/update':'/admin/animalCategories' %>"
    id="animalCategoriesForm" method="POST">
    <div class="form-group button-row">
      <button type="submit" class="btn btn-success custom-save-btn custom-save-common custom-top">Save</button>
      <a href="/admin/animalCategories" class="btn btn-primary ml-10 custom-cancel-btn backButton" data-toggle="modal" data-target="#deleteConfirmModal"></a>
      <h1 class="custom-add-heading"><%= typeof responseData === 'object' ? 'Edit' : 'Create' %> Animal Category</h1>
      <small class="custom-add-text">API ID : animal-category</small>
  </div>
  <section class="content">

    <!-- Default box -->
    <div class="box custom-box">
      <!-- <div class="box-header with-border">
      </div> -->
      <div class="box-body">
        <%- include ./../layout/partials/alert-section.ejs -%>

          <div class="form-group row">
            <div class="col-md-6">
            <label for="category" class="">Category * </label>
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Category of the animal (category)"></i>
              <input type="hidden" name="id" id="id" value="<%= typeof responseData==='object'?responseData.id:'' %>">
              <input type="text" name="category" id="category" class="form-control" placeholder="Category"
                value="<%= typeof responseData==='object'?responseData.category:'' %>">
            </div>
            <div class="col-sm-6">
              <label for="status" class="">Status * </label>
              <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Activation status of the animal (status)"></i>
              <select name="status" class="form-control type-select-box" id="status">
                  <option <%=typeof responseData!=='object' || ((typeof responseData.status == "boolean" || typeof responseData.status == "object") && (responseData.status == "" || responseData.status == null) ) ? 'selected' : '' %> disabled>Choose here</option>
                  <option <%= (typeof responseData==='object' && typeof responseData.status === "boolean" && responseData.status === true)?'selected':'' %> value="true">Active</option>
                  <option <%= (typeof responseData==='object' && typeof responseData.status === "boolean" && responseData.status === false)?'selected':'' %> value="false">Inactive</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <label for="order" class="">Order * </label>
              <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Order of the animal category"></i>
              <input type="number" name="order" id="order" class="form-control" placeholder="Order"
                value="<%= typeof responseData==='object' && responseData.order ? responseData.order:'' %>">
            </div>
          </div>

          <!-- <div class="form-group row">
            <div class="row submit-row">
              <button type="submit" class="btn btn-success custom-save-btn custom-save-common custom-top">Save</button>
              <a href="/admin/animalCategories" class="btn btn-primary ml-10 custom-cancel-btn"></a>
            </div>
          </div> -->
        </form>
      </div>

      <!-- <div class="box-footer text-center">
      </div> -->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
</div>
<%- include ./../layout/footer.ejs -%>
<script type="module" src="/js/animal-category.js"></script>
<script>
  $(".sidebar-menu li").removeClass("active");
  $(".menu__animal_classification").addClass("active");
  $(".menu__animalCategories").addClass("active");
</script>
</body>

</html>